.idea
lib/confs/
symfony/cache/
symfony/config/
symfony/log/
web/dist/
symfony/vendor
apidoc
logInsatall.log
.phpunit.result.cache
symfony/test/functional/node_modules
symfony/tests/functional/yarn.lock
coverage/
