.idea
.vscode
lib/confs/
symfony/cache/
symfony/config/
symfony/log/
web/dist/
symfony/vendor
apidoc
logInsatall.log
.phpunit.result.cache
coverage/
symfony/plugins/orangehrmFunctionalTestingPlugin
.php-cs-fixer.cache
.php-cs-fixer.php
