<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colours = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        strict = "true"
    >

    <filter>
        <whitelist>
            <directory suffix=".php">symfony</directory>
            <exclude>
                <directory>symfony/apps</directory>
                <directory>symfony/cache</directory>
                <directory>symfony/config</directory>
                <directory>symfony/data</directory>
                <directory>symfony/lib</directory>
                <directory>symfony/web</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="All Tests">
            <file>symfony/test/PluginAllTests.php</file>
        </testsuite>
    </testsuites>

</phpunit>