<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="src/test/phpunit/Util/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true"
         beStrictAboutOutputDuringTests="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory>src/apps</directory>
      <directory>src/cache</directory>
      <directory>src/config</directory>
      <directory>src/data</directory>
      <directory>src/lib</directory>
      <directory>src/web</directory>
      <directory>src/vendor</directory>
      <directory>src/test</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Admin">
      <directory>src/plugins/orangehrmAdminPlugin/test/Api</directory>
      <directory>src/plugins/orangehrmAdminPlugin/test/Service</directory>
      <directory>src/plugins/orangehrmAdminPlugin/test/Dao</directory>
      <directory>src/plugins/orangehrmAdminPlugin/test/Entity</directory>
    </testsuite>
    <testsuite name="Authentication">
      <directory>src/plugins/orangehrmAuthenticationPlugin/test/Service</directory>
      <directory>src/plugins/orangehrmAuthenticationPlugin/test/Entity</directory>
      <directory>src/plugins/orangehrmAuthenticationPlugin/test/Dao</directory>
    </testsuite>
    <testsuite name="Core">
      <directory>src/plugins/orangehrmCorePlugin/test/Service</directory>
      <directory>src/plugins/orangehrmCorePlugin/test/Dao</directory>
      <directory>src/plugins/orangehrmCorePlugin/test/Authorization</directory>
      <directory>src/plugins/orangehrmCorePlugin/test/Essential</directory>
      <directory>src/plugins/orangehrmCorePlugin/test/Api</directory>
      <directory>src/plugins/orangehrmCorePlugin/test/Helper</directory>
      <directory>src/plugins/orangehrmCorePlugin/test/Vue</directory>
      <directory>src/plugins/orangehrmCorePlugin/test/Import</directory>
      <directory>src/plugins/orangehrmCorePlugin/test/Registration</directory>
    </testsuite>
    <testsuite name="Leave">
      <directory>src/plugins/orangehrmLeavePlugin/test/Dao</directory>
      <directory>src/plugins/orangehrmLeavePlugin/test</directory>
    </testsuite>
    <testsuite name="Pim">
      <directory>src/plugins/orangehrmPimPlugin/test/Service</directory>
      <directory>src/plugins/orangehrmPimPlugin/test/Dao</directory>
      <directory>src/plugins/orangehrmPimPlugin/test/Api</directory>
      <directory>src/plugins/orangehrmPimPlugin/test/Entity</directory>
    </testsuite>
    <testsuite name="OAuth">
      <directory>src/plugins/orangehrmCoreOAuthPlugin/test/Service</directory>
      <directory>src/plugins/orangehrmCoreOAuthPlugin/test/Dao</directory>
      <directory>src/plugins/orangehrmCoreOAuthPlugin/test/Api</directory>
      <directory>src/plugins/orangehrmCoreOAuthPlugin/test/Entity</directory>
    </testsuite>
    <testsuite name="Time">
      <directory>src/plugins/orangehrmTimePlugin/test/Service</directory>
      <directory>src/plugins/orangehrmTimePlugin/test/Dao</directory>
      <directory>src/plugins/orangehrmTimePlugin/test/Api</directory>
      <directory>src/plugins/orangehrmTimePlugin/test/Entity</directory>
    </testsuite>
    <testsuite name="Attendance">
<!--      <directory>src/plugins/orangehrmAttendancePlugin/test/Service</directory>-->
      <directory>src/plugins/orangehrmAttendancePlugin/test/Dao</directory>
      <directory>src/plugins/orangehrmAttendancePlugin/test/Api</directory>
      <directory>src/plugins/orangehrmAttendancePlugin/test/Entity</directory>
    </testsuite>
    <testsuite name="Maintenance">
      <directory>src/plugins/orangehrmMaintenancePlugin/test/Service</directory>
      <directory>src/plugins/orangehrmMaintenancePlugin/test/Dao</directory>
      <directory>src/plugins/orangehrmMaintenancePlugin/test/PurgeStrategy</directory>
      <directory>src/plugins/orangehrmMaintenancePlugin/test/AccessStrategy</directory>
      <directory>src/plugins/orangehrmMaintenancePlugin/test/Dto</directory>
      <directory>src/plugins/orangehrmMaintenancePlugin/test/Api</directory>
    </testsuite>
    <testsuite name="I18N">
      <directory>src/plugins/orangehrmI18NPlugin/test/Service</directory>
    </testsuite>
  </testsuites>
</phpunit>
