<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="symfony/test/phpunit/Util/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true"
         beStrictAboutOutputDuringTests="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">symfony</directory>
    </include>
    <exclude>
      <directory>symfony/apps</directory>
      <directory>symfony/cache</directory>
      <directory>symfony/config</directory>
      <directory>symfony/data</directory>
      <directory>symfony/lib</directory>
      <directory>symfony/web</directory>
      <directory>symfony/vendor</directory>
      <directory>symfony/test</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Admin">
      <directory>symfony/plugins/orangehrmAdminPlugin/test/Api</directory>
      <directory>symfony/plugins/orangehrmAdminPlugin/test/Service</directory>
      <directory>symfony/plugins/orangehrmAdminPlugin/test/Dao</directory>
      <directory>symfony/plugins/orangehrmAdminPlugin/test/Entity</directory>
    </testsuite>
    <testsuite name="Authentication">
      <directory>symfony/plugins/orangehrmAuthenticationPlugin/test/Service</directory>
    </testsuite>
    <testsuite name="Core">
      <directory>symfony/plugins/orangehrmCorePlugin/test/Service</directory>
      <directory>symfony/plugins/orangehrmCorePlugin/test/Dao</directory>
      <directory>symfony/plugins/orangehrmCorePlugin/test/Authorization</directory>
      <directory>symfony/plugins/orangehrmCorePlugin/test/Essential</directory>
      <directory>symfony/plugins/orangehrmCorePlugin/test/Api</directory>
      <directory>symfony/plugins/orangehrmCorePlugin/test/Helper</directory>
      <directory>symfony/plugins/orangehrmCorePlugin/test/Vue</directory>
    </testsuite>
    <testsuite name="Leave">
      <directory>symfony/plugins/orangehrmLeavePlugin/test/Service</directory>
      <directory>symfony/plugins/orangehrmLeavePlugin/test/Dao</directory>
      <directory>symfony/plugins/orangehrmLeavePlugin/test/Api</directory>
      <directory>symfony/plugins/orangehrmLeavePlugin/test/Entity</directory>
      <directory>symfony/plugins/orangehrmLeavePlugin/test/Entitlement</directory>
    </testsuite>
    <testsuite name="Pim">
      <directory>symfony/plugins/orangehrmPimPlugin/test/Service</directory>
      <directory>symfony/plugins/orangehrmPimPlugin/test/Dao</directory>
      <directory>symfony/plugins/orangehrmPimPlugin/test/Api</directory>
      <directory>symfony/plugins/orangehrmPimPlugin/test/Entity</directory>
    </testsuite>
    <testsuite name="OAuth">
      <directory>symfony/plugins/orangehrmCoreOAuthPlugin/test/Service</directory>
      <directory>symfony/plugins/orangehrmCoreOAuthPlugin/test/Dao</directory>
      <directory>symfony/plugins/orangehrmCoreOAuthPlugin/test/Api</directory>
      <directory>symfony/plugins/orangehrmCoreOAuthPlugin/test/Entity</directory>
    </testsuite>
  </testsuites>
</phpunit>
