#progressBar {
    background-color: #FF9900;
    display: block;
    height: 10px;
}

#btnSubmit {
    display:none;
}

div#logContainer {
    padding: 8px 8px 20px 0px;
}

div#logContainer textarea {
    width: 555px;
    height: 120px; 
}

#processingLabel {
    padding-left: 20px;
    color: #C6C3B5;
    font-weight: bold;
}