<oxd-text tag="p" class="orangehrm-copyright">{{ productName }} {{ productVersion }}</oxd-text>
<oxd-text tag="p" class="orangehrm-copyright">&copy; 2005 - {{ copyrightYear}} <a href="http://www.orangehrm.com" target="_blank">OrangeHRM, Inc</a>. All rights reserved.</oxd-text>
