/* CSS Document */

.tableTopLeft {
	background:url(../pictures/table_r1_c1.gif) no-repeat top right;
	width:12px;
	height:11px;
}

.tableTopMiddle {
	background:url(../pictures/table_r1_c2.gif) repeat-x top;
}

.tableTopRight {
	background:url(../pictures/table_r1_c3.gif) no-repeat top left;
	width:12px;
	height:11px;
}

.tableMiddleLeft {
	background:url(../pictures/table_r2_c1.gif) repeat-y top right;
	width:12px;
	height: 4ex;
}

.tableMiddleMiddle {
	border-bottom: 1px solid #CCCCCC;
}

.tableMiddleRight {
	background:url(../pictures/table_r2_c3.gif) repeat-y top left;
	width:13px;
}

.tableBottomLeft {
	background:url(../pictures/table_r3_c1.gif) no-repeat bottom right;
	width:12px;
	height:15px;
}

.tableBottomMiddle {
	background:url(../pictures/table_r3_c2.gif) repeat-x bottom;
	height: 15px;
}

.tableBottomRight {
	background:url(../pictures/table_r3_c3.gif) no-repeat bottom left;
	width:12px;
	height:15px;
}

th {
	text-align:left;
	font-size: 11px;
}

.odd {
    background-color: #FFFFFF;
}

.even {
    background-color: #EEEEEE;
}

.save:active, .save:hover, .save:focus {
	outline:none;
	background: url(../pictures/btn_save_02.jpg) 3px no-repeat;
}

.save {
	outline:none;
	background: url(../pictures/btn_save.jpg) 3px no-repeat;
}

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

h1 {
	color: #EA1313;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}

h2 {
	color: #666666;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
}

h3 {
	font-size:16px;
}
h4 {
	font-size:15px;
}
h5 {
	font-size:14px;
}

select {
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left: 0px;
}

input, textarea {
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left: 4px;
	padding-right: 4px;
}

hr {
	border: 1px solid #DDDDDD;
	height: 1px;
}

#frmSummary a {
	padding: 5px;
	vertical-align: top;
	height: 25px;
}

.error {
	color: #ff0000;
}

.failure {
	color: #ff0000;
}

.success {
	color: #005500;
}

.hide {
	display:none;
}

.show {
	display: table-row;
}

thead th, tbody td, tbody th {
	padding-right: 5px;
	padding-left: 5px;
}

*:not([type=image]):disabled {
	background: #F6F4F1;
}

input:not([readonly]):not([type=image]):focus, select:focus, textarea:focus {
	background: #FFFFD9;
}

*[readonly] {
	color:#B8B6B0
}
