 
/* Default Styles */
body { 
	margin: 0px 0px 0px 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #444444;
	font-size: 12px;
	background-color: #ffffff;
	scrollbar-arrow-color: #FFFFFF; 
	scrollbar-3dlight-color: #dddddd; 
	scrollbar-highlight-color: #aaaaaa; 
	scrollbar-face-color: #aaaaaa; 
	scrollbar-shadow-color: #aaaaaa;
	scrollbar-track-color: #cccccc; 
	scrollbar-darkshadow-color: #666666;
	}
img {
	behavior:	url("include/pngbehavior.htc");
}
.body { 
	font-size: 12px;
	}
	
table,td {
	color: #444444;
	font-size: 11px;
	}

p {
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 10px;
	}
	
form {
	margin: 0px;
	}

h1 {
	color: #EA1313;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
	}

h2 {
	color: #666666;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px; 
	font-weight: bold; 
	margin-bottom: 0px;
	margin-top: 0px;
	}

h3 {
	color: #7f0000; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px; 
	font-weight: bold; 
	margin-bottom: 4px;
	}

h4 {
	color: #333333; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px; 
	font-weight: bold; 
	margin-bottom: 2px;
	}

h5 {
	color: #333333; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px; 
	font-weight: bold; 
	margin-bottom: 1px;
	}
	
LI {
	LIST-STYLE-TYPE: square; 
	margin-left: 6px; 
	MARGIN-BOTTOM: 2px;
	}
	
UL {
	MARGIN-TOP: 2px;
	}
	
hr {
	height: 1px;
}
a:link, a:visited {
	color: #444444;
	font-size: 11px;
/*	text-decoration: underline; */
	}
a:hover {
/*	color: #666666;
	text-decoration: underline;*/
	}
/* Form Styles */

.button {

	border: 1px solid #444444;
	background-color: #ffffff;
	font-size: 11px;
	color: #444444;
	font-weight: normal;
/*	background-image: url(../pictures/formButtonBg.png); */
	}
	
.buttonOn {

	border: 1px solid #444444;
	background-color: #ffffff;
	font-size: 11px;
	color: #444444;
	font-weight: normal;
/*	background-image: url(../pictures/formButtonBgOn.png); */
	}
	
input,select {
	border: 1px solid #888888;
	font-size: 11px;
	background-color: #ffffff;
	}
	
/* Content Specific Styles */
	/* body text */
	a.body:link, a.body:visited {
		color: #444444;
		font-size: 12px;
/*		text-decoration: underline; */
		}
		
	a.body:hover {
/*		color: #666666;
		text-decoration: underline; */
		}
	
	/* myArea is for my account, admin, logout, an about links*/
	.myArea {
		font-size: 11px;
		font-weight: bold;
		}
		
	/*for the main screen navigation tabs*/
	.currentTab {
		font-size: 12px;
		font-weight: bold;
		padding-top: 1px;
		}
	a.currentTab:link, a.currentTab:visited {
		color: #222222;
		font-weight: bold;
		text-decoration: none;
		}
	a.currentTab:hover {
		color: #444444;
		text-decoration: none;
		font-weight: bold;
		}
		
	.otherTab {
		font-size: 12px;
		font-weight: bold;
		}
	a.otherTab:link, a.otherTab:visited {
		color: #6e6e6e;
		text-decoration: none;

		}
	a.otherTab:hover {
		color: #3C3C3C;
		text-decoration: none;
		}
	
	/*welcome user and date bar and last view*/
	.welcome {
		font-size: 12px;
		font-weight: bold;
		color: #ffffff;
		background-color: #ACACAC;
		border-bottom: 1px solid #000000;
		padding-left: 10px;
		}
	.search {
		color: #ffffff;
		background-color: #ACACAC;
		border-bottom: 1px solid #000000;
		padding-right: 10px;
		text-align: right;
		}
	.lastView {
/*		color: #666666; */
		background-color: #dddddd;
		font-weight: bold;
		padding-left: 10px;
		border-bottom: 1px solid #cccccc;
		}
		
	a.lastViewLink:link, a.lastViewLink:visited {
		color: #444444;
/*		text-decoration: underline; */
		font-weight: bold;
		border-bottom: 0px;
		padding-left: 0px;
		}
	a.lastViewLink:hover {
/*		color: #666666; */
		font-weight: bold;
		text-decoration: none;
		border-bottom: 0px;
		}
		
	/*left column styles*/
	table.leftColumnModuleHead th {
		font-size: 12px;
		color: #444444;
		text-align: left;
		padding: 0px;
	}

	h5.listViewSubHeadS1 {
/*		color: #666666;  */
		font-size: 13px; 
		font-weight: bold; 
		margin-top: 1px;
		margin-bottom: 1px;
	}
	
	/* main tab forms */
	
	h4.dataLabel {
/*		color: #666666;  */
		font-size: 14px; 
		font-weight: bold; 
		margin-bottom: 2px;
	}
	
	h5.dataLabel {
		color: #888888; 
		font-size: 13px; 
		font-weight: bold; 
		margin-bottom: 1px;
		margin-top: 1px;
	}
	
	/* calendar styles */
	.monthBox {
	border: 1px solid #222222;
	}
	.monthHeader {
	background-image: url(images/calendarHeaderBg.png);
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid #980000;
	}
	.monthFooterPrev {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #ffffff;
	background-color: #dddddd;
	}
	.monthFooterNext {
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #ffffff;
	background-color: #dddddd;
	}
	.monthHeaderH3 {
	color: #333333; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px; 
	font-weight: bold; 
	}
	.monthCalBody {

	background-color: #dddddd;
	}
	
	.monthHeaderPrevTd {
	padding-left: 5px;
	}

	a.NextPrevLink:link, a.NextPrevLink:visited {
/*	color: #666666; */
	text-decoration: none;
	font-weight: bold;
	}
	a.NextPrevLink:hover {
	color: #444444;
	text-decoration: none;
	font-weight: bold;
	}
	
	.monthHeaderNextTd {
	padding-right: 5px;
	}
	
	.monthCalBodyTHWeek {
	font-size: 12px;
	background-color: #6f6f6f;
	color: #eeeeee;
	padding: 5px;
	}
	.monthCalBodyTHDay {
	font-size: 12px;
	background-color: #666666;
	color: #eeeeee;
	padding: 5px;
	}
	.monthCalBodyWeek {
	vertical-align: top;
	background-color: #9a9a9a;
	color: #ffffff;
	padding: 5px;
	}
	a.monthCalBodyWeekLink:link, a.monthCalBodyWeekLink:visited {
	font-size: 11px;
	color: #eeeeee;
	}
	a.monthCalBodyWeekLink:hover {
	font-size: 11px;
	}
	.monthCalBodyTodayWeekDay {
	border: 1px solid #600000;
	background-color: #fafafa;
	color: #444444;
	padding: 3px;
	text-align: right;
	}

	.monthCalBodyWeekDay {
	background-color: #fafafa;
	color: #444444;
	padding: 3px;
	text-align: right;
	}
	.monthCalBodyTodayWeekEnd {
	border: 1px solid #600000;
	background-color: #e9e9e9;
	color: #444444;
	padding: 3px;
	text-align: right;
	}
	.monthCalBodyWeekEnd {
	background-color: #e9e9e9;
	color: #444444;
	padding: 3px;
	text-align: right;
	}
	a.monthCalBodyWeekDayDateLink:link, a.monthCalBodyWeekDayDateLink:visited {
	color: #444444;
	font-size: 11px;
	font-weight: bold;
	}
	a.monthCalBodyWeekDayDateLink:hover {
	color: #444444;
	font-size: 11px;
	font-weight: bold;	
	}
	
	a.monthCalBodyWeekEndDateLink:hover {
/*	color: #666666; */
	font-size: 11px;
	font-weight: bold;	
	}
	
	
	
	a.monthCalBodyDayItemLink:link, a.monthCalBodyDayItemLink:visited {
	font-size: 10px;
	}
	a.monthCalBodyDayItemLink:hover {
	font-size: 10px;
	}
	
	.monthCalBodyDayItem {
	background-color: #e5e5e5;
	border: 1px solid #aaaaaa;
	}
	.monthCalBodyDayIconTd {
	padding-left: 2px;
	padding-right: 3px;
	vertical-align: top;

	}
	.monthCalBodyDayItemTd {
	vertical-align: top;


	}
	.monthViewDayHeight {
	height: 100px;
	}
	.yearViewDayHeight {
	height: 40px;
	}
	.dailyCalBodyTime {
	vertical-align: top;
	background-color: #9a9a9a;
	color: #ffffff;
	padding: 3px;
	font-weight: bold;
	height: 20px;
	}
	.dailyCalBodyItems {
	background-color: #fafafa;
	color: #444444;
	padding: 3px;
	text-align: left;
	}
	
	a.weekCalBodyDayLink:link, a.weekCalBodyDayLink:visited {
	color: #ffffff;
	}
	a.weekCalBodyDayLink:hover {
	color: #ffffff;
	}

	.yearCalBody {
	background-color: #f0f0f0;
	}
	.yearCalBodyMonth {
	border: 1px solid #666666;
	background-color: #bbbbbb;
	}

	a.yearCalBodyMonthLink:link, a.yearCalBodyMonthLink:visited {
	font-size: 13px;
	font-weight: bold;
	color: #222222;
	}
	a.yearCalBodyMonthLink:hover {
	color: #333333;
	}

	/* misc font displays */
	.todaysTask {
		color: #FF7800
	}
	.overdueTask {
		color: #ff0000;
	}
	.required {
		color: #ff0000;
	}
	.error {
		color: #ff0000;
	}
	.success {
		color: #00ee00;
	}
	.rssItemDate {
/*		color: #666666; */
		font-size: 10px;
	}
	.dateFormat {
		font-weight: normal;
		font-style: italic;
		font-size: 10px;
	}
	.chartFootnote {
		font-size: 10px;
	
	}

	.copyRight {
	}
	a.copyRightLink:link, a.copyRightLink:visited {
	}
	a.copyRightLink:hover {
	}
	
	.tm {
		font-size: 8px;
		font-family: Verdana;
	}
	
	.footer {
padding-top: 10px;
padding-bottom: 10px;
	}
	a.footerLink:link, a.footerLink:visited {
	}
	a.footerLink:hover {
	}
	
	.footerHR {
/*	color: #666666; */
	}

.rollmenu
{
	padding-right: 2px;
	display: block;
	padding-left: 2px;
	font-size: 11px;
	padding-bottom: 2px;
	color: #000000;
	line-height: normal;
	padding-top: 2px;
	border-top: #FFCE73 1px solid;
	border-left: #FFCE73 1px solid;
	border-right: #D8B114 1px solid;	
	border-bottom: #D8B114 1px solid;
	font-family: "Arial", "Helvetica", "sans-serif";
	background-color: #FFCC00;
	text-decoration: none
}
.rollmenu:hover
{
	background-color: #EDC112;
	border-top: #FFCE73 1px solid;
	border-left: #FFCE73 1px solid;
	border-right: #D8B114 1px solid;	
	border-bottom: #D8B114 1px solid;
	text-decoration: none
}
#menuhead
{
	background-color: #EDC112;
	font-weight:bold;
	padding-right: 2px;
	display: block;
	padding-left: 2px;
	font-size: 11px;
	padding-bottom: 2px;
	border-top: #FFCE73 1px solid;
	border-left: #FFCE73 1px solid;
	border-right: #D8B114 1px solid;	
	border-bottom: #D8B114 1px solid;
	color: #000000;
	line-height: normal;
	padding-top: 2px;
	font-family: "Arial", "Helvetica", "sans-serif";
	text-decoration: none
}
#menu1
{
	left: 1px;
	visibility: hidden;
	position: absolute;
	top: 1px;
	background-color: transparent
}
#menu2
{
	left: 1px;
	visibility: hidden;
	position: absolute;
	top: 1px;
	background-color: transparent
}
#menu3
{
	left: 1px;
	visibility: hidden;
	position: absolute;
	top: 1px;
	background-color: transparent
}
#menu4
{
	left: 1px;
	visibility: hidden;
	position: absolute;
	top: 1px;
	background-color: transparent
}
