label.error2col {
    color:red;
    padding-left: 130px;
}
label.error1col {
    color:red;
}

label.errortd {
    color:red;
    width:auto;
    padding:auto;
}

label.error {
	
	color:red;
	clear:both;
	padding-left: 130px;
	/*white-space:nowrap;*/
	display: block;
        font-size: 11px;
        margin-top: 5px;
        width: 128px !important;
}

.single_row_form label.error {
    white-space:nowrap;
}

label.valid {
	background: url('/js/jquery/img/valid.gif') no-repeat;
	height:21px;
	width:21px;
	display:block;
	padding-left: 21px;
}

input.error, input.error2col {
	border:1px dotted red;
}

textarea.error, textarea.error2col {
	/*border:1px dotted red;*/
}

div.error {
	color:red;
    padding-left: 10px;
    padding-right: 10px;
}


div.messageBalloon_regular,
div.messageBalloon_success,
div.messageBalloon_failure,
div.messageBalloon_warning,
div.messageBalloon_notice {
        margin: 10px 30px 10px 30px;
        width:auto;
        font-size:14px;
        padding:8px 8px 8px 20px;
        font-weight: bold;
}

div.messageBalloon_regular a,
div.messageBalloon_success a,
div.messageBalloon_failure a,
div.messageBalloon_warning a,
div.messageBalloon_notice a {
        font-size:12px;
}

div.messageBalloon_regular ul,
div.messageBalloon_success ul,
div.messageBalloon_failure ul,
div.messageBalloon_warning ul,
div.messageBalloon_notice ul {
        margin-bottom:0px;
}


div.messageBalloon_regular div,
div.messageBalloon_success div,
div.messageBalloon_failure div,
div.messageBalloon_warning div,
div.messageBalloon_notice div{
        text-align:right;
}

div.messageBalloon_regular {
        border:solid 1px #dddddd;
        background-color:#eeeeee;
        color:#666666;
}

div.messageBalloon_success {
        border:solid 1px #cceecc;
        background-color:#eeffee;
        color:#006600;
}

div.messageBalloon_failure {
        border:solid 1px #ffdddd;
        background-color:#ffeeee;
        color:red;
}

div.messageBalloon_warning {
        border:solid 1px #ffee99;
        background-color:#ffffee;
        color:#660000;
}

div.messageBalloon_notice {
        border:solid 1px #ddddff;
        background-color:#eeeeff;
        color:#000066;
}