#spiffycalendar {
	LEFT: 0px; VISIBILITY: hidden; WIDTH: 185px; POSITION: absolute; TOP: 0px; HEIGHT: 130px; BACKGROUND-COLOR: black
}
.cal-SymbolBtn {
	FONT-SIZE: 8pt; FONT-FAMILY: Webdings; outline-style: none; outline-width: 0px
}
.cal-BtnLink {
	outline-style: none; outline-width: 0px
}
A.cal-DayLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; CURSOR: url('jscript48/spiffycal.cur'); COLOR: black; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.cal-DayLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; CURSOR: url('jscript48/spiffycal.cur'); COLOR: blue; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.cal-DayLink:active {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; CURSOR: url('jscript48/spiffycal.cur'); COLOR: #0066ff; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.cal-TextBox {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: #ffffcc
}
.cal-TextBoxInvalid {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; COLOR: #660000; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: red; FONT-FAMILY: Verdana,  Arial, sans-serif; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: red; BORDER-BOTTOM-STYLE: solid
}
.cal-TextBoxDisabled {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT-COLOR: silver; BORDER-BOTTOM-COLOR: silver; COLOR: #808080; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: silver; FONT-FAMILY: Verdana,  Arial, sans-serif; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: silver; BORDER-BOTTOM-STYLE: solid
}
.cal-ComboBox {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: navy; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: #eaffff
}
.cal-Today {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.cal-Day {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.cal-TodayLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.cal-TodayLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.cal-TodayLink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #0066ff; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.cal-GreyDate {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #999999; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.cal-GreyInvalidDate {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #999999; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: line-through
}
.cal-DayCell {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: white
}
.cal-HeadCell {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #FFCE7D
}
.cal-Table {
	BORDER-RIGHT: #6666ff 1px solid; BORDER-TOP: #6666ff 1px solid; BORDER-LEFT: #6666ff 1px solid; CURSOR: url('images/cal.cur'); BORDER-BOTTOM: #6666ff 1px solid; BACKGROUND-COLOR: #6666cc
}
