@mixin truncate($rows, $line-height, $background: '') {
  position: relative;
  overflow: hidden;
  max-height: $line-height * $rows;
  line-height: $line-height;
  text-align: left;
  justify-content: space-between;
  word-break: break-all;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: inherit;
    height: $line-height;

    @if $background != '' {
      background: linear-gradient(to right, rgba($background, 0) 0%, rgba($background, 1) 100%);
    }
  }

  // If supports line-clamp then add an ellipsis overflow and hide the gradient
  // This will work in Chrome and Opera, otherwise a gradient will gradually hide the text.

  @supports (-webkit-line-clamp: $rows) {
    display: -webkit-box;
    -webkit-line-clamp: $rows;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;

    &:after {
      display: none;
    }
  }
}
