.notification-bar{
    display: block;
    width: 600px;
    height: 60px;
    z-index: 1000;
    float: right;
    /*border: #000 solid thin;*/
    margin: 5px 5px 5px 60px;
    padding: 5px;
    overflow: hidden;
    word-wrap: break-word;
        
}
.notification-body{
    clear: right;
    float: right;
   display: block;
}
.notification-header {
      clear: right;
    display: block;
    float: right;
    max-height: 1.5em;
    overflow: hidden;
    padding: 2px;
}
.notification-header h3{
    font: bolder 1em sans-serif;
}
#branding img {
    float: left;
}