.normalText {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #395739;
}
.smalltext {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 10.5px;
	font-style: normal;
	color: #395739;
}
.headtext {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #C4A355;
	font-style: normal;
	font-weight: bold;

}
.bottomtext {
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	font-variant: normal;
	

}
