[mysqld]
max_allowed_packet=1073741824
innodb_buffer_pool_size=2147483648
aria_pagecache_buffer_size=277872640
key_buffer_size=65536
host_cache_size=32
query_cache_limit=271360
query_cache_size=67108864
tmp_table_size=134217728
max_heap_table_size=134217728

skip-name-resolve
