.addlanguage-note{
    background-color: $oxd-interface-gray-lighten-2-color;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.addlanguage-note-text{
    padding: 1.2rem;
}

.oxd-table-cell-actions{
    justify-content: end;
}

.orangehrm-dialog-modal{
    width: '90%';
    min-width: '800px';
}

.orangehrm-information-card-text {
    font-size: $oxd-input-control-font-size;
    color: $oxd-input-control-font-color;
    font-weight: $oxd-input-control-font-weight;
}

.oxd-table-th{
    margin-right: 10rem;
}
