.addlanguage-note{
    background-color: $oxd-interface-gray-lighten-2-color;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.addlanguage-note-text{
    padding: 10px;
}

.oxd-table-cell-actions{
    justify-content: end;
}